*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cd5d5d;
    
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 77.45px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

span {
    color: gold;
}
.qator2{
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
h3 {
    font-size: 32px;
}

.card {
background-color: black;
color: white;
text-align: center;
width: 360px;
padding: 30px;

}
.card img{
    width: 100%;
}
.qator3{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

}
